<div class="row comment">
    <div class="col-md-10 ">
        <span id="child{{ id }}" class="editable suggestion child">{{ child }}</span>
    </div>
    <div class="col-md-2">
        <div class="btn-group">
                                                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    {{ priority }}
                                                                                </span>
            <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item">1</span>
                <span class="dropdown-item">2</span>
                <span class="dropdown-item">3</span>
            </div>
        </div>
    </div>
</div>