<div id="group-solution{{ sol.id }}" class="row group-solution layer" style="margin: 1%">
    <div class="col-md-9 comment">
        <span id="sol{{  sol.id }}" class="editable suggestion solution">{{ sol.solution }}</span>
    </div>
    <div class="col-md-1">
        <i id="trash-solution{{ sol.id }}" class="material-icons trash solution" title="archiver">delete</i>
    </div>
</div>
