{% if s.status == 'fail' %}

    <div id="status{{ id }}" class="selection-fail select">
        <div class="btn-group">
                                                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    échec
                                                                                </span>
            <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item selection-choice selection-fail">échec</span>
                <span class="dropdown-item selection-choice selection-error">passe avec erreurs</span>
                <span class="dropdown-item selection-choice selection-success">passe</span>
            </div>
        </div>
    </div>
{% elseif s.status == 'error' %}
    <div id="status{{ id }}" class="selection-error select">
        <div class="btn-group">
                                                                                <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    passe avec erreurs
                                                                                </span>
            <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item selection-choice selection-fail">échec</span>
                <span class="dropdown-item selection-choice selection-error">passe avec erreurs</span>
                <span class="dropdown-item selection-choice selection-success">passe</span>
            </div>
        </div>
    </div>
{% elseif s.status == 'success' %}
    <div id="status{{ id }}" class="selection-success select">
        <div class="btn-group">
                                                                                <span id="current-status{{ id }}" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    passe
                                                                                </span>
            <div class="dropdown-menu dropdown-menu-right">
                <span class="dropdown-item selection-choice selection-fail">échec</span>
                <span class="dropdown-item selection-choice selection-error">passe avec erreurs</span>
                <span class="dropdown-item selection-choice selection-success">passe</span>
            </div>
        </div>
    </div>
{% endif %}