<div class="row">
    <div class="x_content">
        <div id="accordion">
            <h1>Créer une nouvelle phase d'audit</h1>
            <div class="container">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" data-parsley-validate class="" method="post" action="../administration-audit">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <label>Intitulé de la phase</label>
                                    <input type="text" id="first-name" required="required" class="form-control col-md-6 col-xs-12" name="name_phase">
                                </div>
                            </div>
                            <div class="row">
                                <div class="table-responsive col-md-12 col-sm-12">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th>
                                                Test
                                            </th>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Priorité
                                            </th>
                                            <th>
                                                Famille
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                    <input type="text" name="test_phase[]" class="input_test" placeholder="Ajouter un test" required>
                                                    <div class="bar"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" name="type" id="sel1">
                                                            <option>{{ t.type }}</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <select class="form-control" name="priority" id="sel1">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="input-group col-md-6 col-sm-6 col-xs-12">
                                                    <span class="input-group-addon"><a  class="glyphicon glyphicon-minus remove-child" style=" pointer-events: none;cursor: default;"></a></span>
                                                    <input type="text" name="test_child[]" class="input_test" placeholder="Ajouter un test enfant">
                                                    <div class="bar"></div>
                                                    <span class="input-group-addon"><a href="#" class="glyphicon glyphicon-plus add-child"></a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" class="add-row"><span class="glyphicon glyphicon-plus"></span></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success" name="submit" value="newPhase" >Soumettre</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>