<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title></title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link href="../vendor/sweet-alert/dist/sweetalert2.css" rel="stylesheet">
    <link href="../css/audit/preaudit.css?v=2.1.0" rel="stylesheet" />

    <!-- CSS Files -->
    <link href="../css/material-dashboard.css?v=2.1.0" rel="stylesheet" />

</head>
<body>
<div class="content">
    <div class="container-fluid col-md-6">
        <!-- Tab panes -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link-test active" data-toggle="tab" href="#type">Type</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-test" data-toggle="tab" href="#familly">Famille</a>
            </li>
            <li class="nav-item">
                <a class="nav-link-test" data-toggle="tab" href="#solution">Ajouter une solution</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="type" class="container tab-pane active"><br>
                <p>test</p>
            </div>
            <div id="familly" class="container tab-pane fade"><br>
                <p>test</p>
            </div>
        </div>
    </div>
</div>
</body>

<script src="../js/core/jquery.min.js" type="text/javascript"></script>
<script src="../js/core/popper.min.js" type="text/javascript"></script>
<script src="../js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../js/plugins/perfect-scrollbar.jquery.min.js"></script>